.thumbnail
{
    background:rgba(240, 239, 236, 0.5);
}

body{
    margin-top: 45px;
}

.thumbnail .caption
{
    background:rgba(240, 239, 236, 0.5);
}

#b2, #b3
{
   border-radius: 250px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

strong
{
    color:green;
}

.r
{
    color:blue;
}

.t1
{
   
    
}